.confirmation {
  padding: 10px 10px 10px 0px;
  display: flex;
  align-items: flex-start;
  &__checkbox {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  &__checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  &__checkmark {
    height: 20px;
    width: 20px;
    @include absCenter;
    background-color: transparent;
    border: 1px solid $color-text-4;
    border-radius: 4px;
  }

  &__checkbox input[type="checkbox"]:checked + label &__checkmark {
    border: none;
    background-image: url(/assets/img/icon_check.svg);
    background-size: contain;
  }

  &__paragraph {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: $color-text-2;

    @include respond(phone) {
      line-height: 1.8rem;
      font-size: 1.2rem;
    }
  }

  &__link {
    color: $color-secondary;
    text-decoration: underline;
    text-underline-position: under;
    // text-underline-offset: -20%;
    &:hover {
      color: $color-secondary;
    }
  }
}
