body {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  color: color-text-1;
}

.heading {
  font-size: $h1-fs-default;
  text-transform: uppercase;
  font-weight: 700;
  @include respond(phone) {
    font-size: $h1-fs;
  }
}
