// COLOR
// primary
$color-primary: #1dc071;
$color-primary-20: #4acd8d;
$color-primary-40: #77d9aa;
$color-primary-60: #a5e6c6;
$color-primary-80: #d2f2e3;
$color-primary-extra-2: #d2f2e3;
// secondary
$color-secondary: #6f49fd;
$color-secondary-20: #8c6dfd;
$color-secondary-40: #a992fe;
$color-secondary-60: #c5b6fe;
$color-secondary-80: #e2dbff;

// darkmode
$color-dark: #13131a;
$color-dark-secondary: #1c1c24;
$color-dark-soft: #22222c;
$color-dark-soft-2: #24242c;
$color-dark-stroke: #3a3a43;
$color-dark-red: #422c32;
// Neutral
$color-text-1: #171725;
$color-text-2: #4b5264;
$color-text-3: #808191;
$color-icon: #a2a2a8;
$color-text-4: #b2b3bd;

// Whitish
$color-white: #ffffff;
$color-white-soft: #fcfbff;
$color-gray-soft: #fcfcfc;
$color-strock: #f1f1f3;
$color-lite-bg: #fcfcfd;
$color-tirtary-btn: #eeeafd;


// dropshadow
$color-box-shadow: #DAD5D5 ; //  + 15%
$color-box-shadow-2: #D3D3D3 ; //  + 25%

// Error
$color-status-error: #eb5757;

// FONT SIZE
$text-default: 1.6rem;
$text-default-sm: 1.6rem;

$h1-fs-default: 6rem;
$h1-fs: 4rem;

$h2-fs-default: 3.8rem;
$h2-fs: 2.5rem;

$h3-fs-default: 3.2rem;
$h3-fs: 2.2rem;

$h3-fs2-default: 3rem;
$h3-fs2: 2rem;

$body-text-default: 3rem;
$body-text: 1.8rem;

$body-text2-default: 2.4rem;
$body-text2: 1.6rem;

$paragraph-text-default: 2.2rem;
$paragraph-text: 1.4rem;

$paragraph-text2-default: 1.8rem;
$paragraph-text2: 1.2rem;
